In [2]:
! pip install xgboost

Requirement already satisfied: xgboost in /Users/prast/opt/anaconda3/lib/python3.8/site-packages (1.4.2)
Requirement already satisfied: numpy in /Users/prast/opt/anaconda3/lib/python3.8/site-packages (from xgboost) (1.19.2)
Requirement already satisfied: scipy in /Users/prast/opt/anaconda3/lib/python3.8/site-packages (from xgboost) (1.5.2)

In [2]:
#update xgboost
! pip install --upgrade xgboost

Requirement already up-to-date: xgboost in /Users/prast/opt/anaconda3/lib/python3.8/site-packages (1.4.2)
Requirement already satisfied, skipping upgrade: scipy in /Users/prast/opt/anaconda3/lib/python3.8/site-packages (from xgboost) (1.5.2)
Requirement already satisfied, skipping upgrade: numpy in /Users/prast/opt/anaconda3/lib/python3.8/site-packages (from xgboost) (1.19.2)

In [3]:
! pip install xgboost --no-binary xgboost -v

Using pip 20.2.4 from /Users/prast/opt/anaconda3/lib/python3.8/site-packages/pip (python 3.8)
Non-user install because site-packages writeable
Created temporary directory: /private/var/folders/dg/v7_wfp5n65xbwvlc35v714rc0000gp/T/pip-ephem-wheel-cache-n9chs4e3
Created temporary directory: /private/var/folders/dg/v7_wfp5n65xbwvlc35v714rc0000gp/T/pip-req-tracker-o2c713jl
Initialized build tracking at /private/var/folders/dg/v7_wfp5n65xbwvlc35v714rc0000gp/T/pip-req-tracker-o2c713jl
Created build tracker: /private/var/folders/dg/v7_wfp5n65xbwvlc35v714rc0000gp/T/pip-req-tracker-o2c713jl
Entered build tracker: /private/var/folders/dg/v7_wfp5n65xbwvlc35v714rc0000gp/T/pip-req-tracker-o2c713jl
Created temporary directory: /private/var/folders/dg/v7_wfp5n65xbwvlc35v714rc0000gp/T/pip-install-6te_rv3o
Requirement already satisfied: xgboost in /Users/prast/opt/anaconda3/lib/python3.8/site-packages (1.4.2)
Requirement already satisfied: numpy in /Users/prast/opt/anaconda3/lib/python3.8/site-packages (from xgboost) (1.19.2)
Requirement already satisfied: scipy in /Users/prast/opt/anaconda3/lib/python3.8/site-packages (from xgboost) (1.5.2)
Removed build tracker: '/private/var/folders/dg/v7_wfp5n65xbwvlc35v714rc0000gp/T/pip-req-tracker-o2c713jl'

In [11]:
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [8]:
# load data
dataset = loadtxt('datasets/pima-indians-diabetes.data.csv', delimiter=",")

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [12]:

# split data into X and y
# X untuk independent var
# Y untuk dependent Var / predictor
X = dataset[:,0:8]  # X -> data 0 - 8  as input
Y = dataset[:,8]  #sisa nya  as output

In [13]:
# split data into train and test sets
# seed randomness untuk tracable 
seed = 7 # saran : set a prime number # kurang lebih 1%
test_size = 0.33   #33% sebagai data test, train : test 30:70,20:80, 33:67
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

In [14]:

# fit model no training data
model = XGBClassifier()
model.fit(X_train, y_train)

/Users/prast/opt/anaconda3/lib/python3.8/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[08:37:34] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=4, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [15]:
#see the parameter used in trained

print(model)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=4, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [16]:

# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

In [20]:
# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 74.02%

In [23]:
#input data 

dataset2= loadtxt('datasets/trainxgboost.csv',)

ValueError: could not convert string to float: 'Loan_ID'

In [24]:
import pandas as pd
import numpy as np

In [25]:
datast2 = pd.read_csv('datasets/trainxgboost.csv')

In [27]:
datast2.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [40]:
#drop loan ID 
datast2.drop(['Loan_ID'], axis= 1 , inplace=True)

In [41]:
#data 5 terbawah 
datast2.tail()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
609,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [47]:
#untuk mengisi value yg 0
datast2['LoanAmount'].fillna(datast2['LoanAmount'].mean(), inplace=True)
datast2['Self_Employed'].fillna('No',inplace=True)
datast2['Gender'].fillna(datast2['Gender'].mode()[0], inplace=True)
datast2['Married'].fillna(datast2['Married'].mode()[0], inplace=True)
datast2['Dependents'].fillna(datast2['Dependents'].mode()[0], inplace=True)
datast2['Loan_Amount_Term'].fillna(datast2['Loan_Amount_Term'].mode()[0], inplace=True)
datast2['Credit_History'].fillna(datast2['Credit_History'].mode()[0], inplace=True)

In [ ]:
#drop from dataframe yg null semua
datast2.dropna()

In [42]:
datast2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             601 non-null    object
 1   Married            611 non-null    object
 2   Dependents         599 non-null    object
 3   Education          614 non-null    object
 4   Self_Employed      582 non-null    object
 5   ApplicantIncome    614 non-null    int64
 6   CoapplicantIncome  614 non-null    float64
 7   LoanAmount         592 non-null    float64
 8   Loan_Amount_Term   600 non-null    float64
 9   Credit_History     564 non-null    float64
 10  Property_Area      614 non-null    object
 11  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(7)
memory usage: 57.7+ KB

In [48]:
#kita rubah untuk jadi labeling dari object -> int
from sklearn.preprocessing import LabelEncoder
var_mod = ['Gender','Married','Dependents','Education','Self_Employed','Property_Area','Loan_Status']
le = LabelEncoder()
for i in var_mod:
    datast2[i] = le.fit_transform(datast2[i])

In [49]:
datast2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             614 non-null    int64
 1   Married            614 non-null    int64
 2   Dependents         614 non-null    int64
 3   Education          614 non-null    int64
 4   Self_Employed      614 non-null    int64
 5   ApplicantIncome    614 non-null    int64
 6   CoapplicantIncome  614 non-null    float64
 7   LoanAmount         614 non-null    float64
 8   Loan_Amount_Term   614 non-null    float64
 9   Credit_History     614 non-null    float64
 10  Property_Area      614 non-null    int64
 11  Loan_Status        614 non-null    int64
dtypes: float64(4), int64(8)
memory usage: 57.7 KB

In [59]:
datast2.tail()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
609,0,0,0,0,0,2900,0.0,71.0,360.0,1.0,0,1
610,1,1,3,0,0,4106,0.0,40.0,180.0,1.0,0,1
611,1,1,1,0,0,8072,240.0,253.0,360.0,1.0,2,1
612,1,1,2,0,0,7583,0.0,187.0,360.0,1.0,2,1
613,0,0,0,0,1,4583,0.0,133.0,360.0,0.0,1,0

In [52]:
#split data 
X = datast2.iloc[:,0:11]
Y = datast2.iloc[:,11]

In [ ]:
#split data dependent dan indepent var dg drop
X_1 = datast2.drop(['Loan_Status'], axis= 1)
Y_1 = datast2['Loan_Status']

In [53]:
print("shape :", datast2.shape)
print("X", X.shape)
print('Y', Y.shape)

shape : (614, 12)
X (614, 11)
Y (614,)

In [54]:
#split data 

seed=5
test_size= 0.2
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

In [55]:
# fit model no training data
model = XGBClassifier()
model.fit(X_train, y_train)

/Users/prast/opt/anaconda3/lib/python3.8/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[08:05:15] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=4, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [56]:

print(model)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=4, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [57]:
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

In [58]:
# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 75.61%